@import "variables";

/* common */
body {
  font-size: 1em; /*16px,比常规字号(14px)略大*/
  line-height: 2em;
  font-family: "Microsoft YaHei","Lucida Grande",Helvetica,Arial;
  background-color: $default-bg;
}
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $default-color;
}

/* 1.去除android a/button/input标签被点击时产生的边框
 * 2.去除ios a标签被点击时产生的半透明灰色背景
 */
a, button, input, label {
  -webkit-tap-highlight-color: rgba(255,0,0,0);
}

/* button */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 2em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border: none;
  border-radius: none;
}

.btn-primary {
  color: #fff;
  background-color: $default-color;
}

.btn-block {
  display: block;
}

/* main content */
.main {
  padding: 10px;
  margin-bottom: 0;
}

.block {
  margin: 15px 0;
  padding: 10px 15px;
  background-color: $block-bg;
}

/* bottom menu bar */
.footer {
  height: $footer-height;
  position: fixed;
  background-color: $block-bg;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid $default-border-color;
  z-index: 999;
  ul {
    li {
      display: inline-block;
      width: 49%;
      text-align: center;
      a {
        font-size: 1.25em;
        line-height: $footer-height;
        padding: 0 30px;
      };
    }
  }
}
.footer + .main {
  margin-bottom: $footer-height;
}

.text-mark {
  color: $default-color;
}

.text-success {
  color: $success-color;
}

.text-gray {
  color: $color-gray;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  margin: -18px 0 0 -18px;
  display: none;
  i {
    font-size: 36px;
    color: $default-color;
  };
  &.on {
    display: block;
  };
}


/* table list styles */
ul.list li {
  position: relative;
  background-image: url('/assets/images/list_right.png');
  background-repeat: no-repeat;
  background-position: 90% center;
  a.detail {
    position: absolute;
    top: 10px;
    padding: 3em 50% ;
  }
}


// @mixin clear-fix {
//   &:before,
//   &:after {
//     content: " ";
//     display: table;
//   }
//   &:after {
//     clear: both;
//   }
// }
// 
// 
// .container {
//   margin: 15px;
// }
// 
// .btn-group {
//   text-align: center;
// }
// 
// .nav.nav-pills.nav-stacked {
//   li > a {
//     @extend .btn;
//   }
//   .active > a {
//     @extend .btn-default;
//   }
// }
// 
// footer {
//   position: fixed;
//   bottom: 15px;
//   left: 0;
//   right: 0;
// }
// 
// .btn {
//   display: inline-block;
//   text-align: center;
//   vertical-align: middle;
//   cursor: pointer;
//   border: 0;
//   color: black;
//   background-color: white;
//   padding: 10px 16px;
//   line-height: 1.33;
//   border-radius: 6px;
// }
// 
// .btn.btn-default {
//   color: white;
//   background-color: $btn-default-bg;
// }
// 
// .btn.btn-xs {
//   padding: 5px 8px;
//   line-height: 1;
//   border-radius: 3px;
// }
// 
// .btn-block {
//   display: block;
//   width: 100%;
// }

//utils begin
.text-center {
  text-align: center!important;
}
.text-left {
  text-align: left!important;
}
.text-right {
  text-align: right!important;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

//utils end

// 
// //grid begin
// .row {
//   @include clear-fix;
// }
// .col-xs-4 {
//   width: 100% / 12 * 4;
//   float: left;
// }
// .xs-col-3 {
//   width: 100% / 12 * 3;
//   float: left;
// }
// 
// .xs-col-6 {
//   width: 100% / 12 * 6;
//   float: left;
// }
// 
// .xs-col-9 {
//   width: 100% / 12 * 9;
//   float: left;
// }
// //grid end
// 
// hr {
//   clear: both;
// }
// 
// a {
//   text-decoration: none;
// }

