<div class="container" id="photo-index">
  <div class="row text-center">
    <button class="btn btn-default btn-block">
      +发布图片
    </button>
  </div>

  <photo-gallery current='index' photos='photos'></photo-gallery>



  <div class="row text-center">
    <div class="col-xs-4 text-left">
      <button class="btn btn-default" ng-click="prev_photo()">上一张</button>
    </div>
    <div class="col-xs-4 text-center">
      <button class="btn btn-default btn-block" ng-click="like(photos[index].id)">(取消)赞(56)</button>
    </div>
    <div class="col-xs-4 text-right">
      <button class="btn btn-default" ng-click="next_photo()">下一张</button>
    </div>
  </div>
  <div class="footer">
    <ul>
      <li>
        <a href="#/photo/published" class="btn btn-default">我发的</a>
      </li>
      <li>
        <a href="#/photo/liked" class="btn btn-default">赞过的</a>
      </li>
    </ul>
  </div>

</div>

