<div class="container" id="photo-index">
  <div class="row text-center">
    <button class="btn btn-default btn-block">
      +发布图片
    </button>
  </div>
  <div class="row gallery">
    <ul>
      <li ng-repeat="photo in photos" ng-class="{true: 'photo-current'}[index === {{$index}}]">
        <div class="row text-center">
          <div class="picture-container">
            <!-- <img src="javascript:;" alt="第{{$index}}张" img-key="a23c4be3f24a82686c7e1475d2f48015"> -->
            <img src="javascript:;" alt="第{{$index}}张">
          </div>
        </div>

        <div class="row">
          <div class="pull-left">餐厅或美食名称</div>
          <div class="pull-right">
            <img src="javascript:;" alt="发布者头像">
            <span>发布者</span>
          </div>
        </div>
      </li>
    </ul>
  </div>



  <div class="row text-center">
    <div class="col-xs-4">
      X人赞过
    </div>
    <div class="col-xs-4">
      <button class="btn btn-default" ng-click="like(photos[index].id)">赞</button>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-default" ng-click="next_photo()">下一张</button>
    </div>
  </div>
  <div class="footer">
    <div class="btn-group">
      <a href="#/photo/published" class="btn btn-default">我发的</a>
      <a href="#" class="btn btn-default">赞过的</a>
    </div>
  </div>

</div>

