<div id="carts" class="container">
  <header title="XXX restuarant name"></header>

    <hr>
    <div class="row text-left">
      <h3 ng-if="!order_create_ok">
        购物车-清单
      </h3>
      <h3 ng-if="order_create_ok">
        下单成功，待餐厅确认
      </h3>
    </div>
    <hr>

    <div class="row text-center">
      桌号：XXX
    </div>
    <hr>
    <ul>
      <li ng-repeat="item in products">
        <product item="item"></product>
      </li>
    </ul>


    <div class="row text-center">
      下单时间：{{order.pay_time}}
    </div>
    <hr>

    <div ng-if="!order.ok" class="row text-center">
      <a href="" class="btn btn-default" ng-click="placeOrder()">下单</a>
    </div>
    <div ng-if="!order.ok" class="text-center">
      <div>
        餐厅wifi
        <br>
        名称：XX
        <br>
        密码：XX
      </div>
    </div>



</div>

