<div id="carts" class="container">
  <header title="XXX restuarant name"></header>

  <hr>
  <div class="row text-left">
    <h3 ng-if="!order_create_ok">
        购物车-清单
      </h3>
    <h3 ng-if="order_create_ok">
        下单成功，待餐厅确认
      </h3>
  </div>
  <hr>

  <div class="row text-center">
    桌号：XXX
  </div>
  <hr>
  <ul>
    <li ng-repeat="item in products">
      <product item="item" unit="true"></product>
    </li>
  </ul>


  <div class="row text-center">
    下单时间：{{order.pay_time}}
  </div>
  <hr>

  <img src="javascript:;" img-key="{{restaurant.wp_qrcode_file_key}}" alt="">
  <div ng-if="!order.ok" class="row text-center">
    <a href="" class="btn btn-default" ng-click="placeOrder()">下单</a>
  </div>
  <div ng-if="order.ok && restaurant.wifi_name" class="text-center">
  <div class="text-center">
    <div>
      餐厅wifi
      <br>名称：{{restaurant.wifi_name}}
      <br>密码：{{restaurant.wifi_password}}
    </div>
    <div>
      <div class="row">
        <div class="xs-col-6"><a href="javascript:;" class="btn">玩游戏，赢奖励</a>
        </div>
        <div class="xs-col-6">
          <div class="text-center">
            <div class="row">关注餐厅公众号</div>
            <div class="row">
              <img src="javascript:;" img-key="{{restaurant.wp_qrcode_file_key}}" alt="">
            </div>
            <div class="row">按住图片，识别二维码</div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

