<div class="container" id="menu">
  <div class="row">
    <h1>当前订单数量： <span>{{orders.length}}</span></h1>
  </div>
  <hr>
  <ul ng-repeat="order in orders">
    <li>
      <div class="pull-left">
        <div class="row">餐厅： {{order.restaurant_name}}</div>
        <div class="row">状态：{{order.status | order_status}}</div>
        <div class="row">下单时间：{{order.pay_time | order_time}}</div>
        <div class="row">金额：{{order.price}}</div>
      </div>
      <a ng-href="#/menu/orders/{{order.id}}" class="btn btn-default pull-right">详情</a>
      <hr>
    </li>

  </ul>
  <footer class="row">
    <div class="btn-group">
      <a href="javascript:;" ng-click="scan_qr_code_menu()" class="btn btn-default">扫码点菜</a>
      <a href="#/orders/history "class="btn btn-default">订单历史</a>
    </div>
  </footer>
</div>

