#restaurant-catogaries {
  $aside-width: 100px;
  aside {
    width: $aside-width;
    float: left;
    ul > li {
      margin-bottom: 5px;
    }
  }
  main {
    margin-left: $aside-width;
  }
}

.restaurant-name {
  margin: 0;
  line-height: 2em;
}
