<div id="restaurant-catogaries" class="container">
  <header title="{{menu.restaurant_name}}"></header>
  <hr>
  <aside>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="category in menu.categories" ng-class="{true: 'active'}[ui.cur_tab === {{$index}}]" ng-click="ui.cur_tab = {{$index}}">
        <a>{{category.name}}</a>
      </li>
    </ul>
  </aside>
  <main class="row">
  <!-- <ul ng-repeat="product in menu.categories"> -->
  <div class="tab-content">
    <!-- <div ng-repeat="category in menu.categories" ng-show="ui.cur_tab"> -->
    <div ng-repeat="category in menu.categories" ng-show="ui.cur_tab === {{$index}}">
      <ul>
        <li ng-repeat="product in category.products">
          <div><img src="javascript:;" alt=""></div>
          <div>{{product.name}}</div>
          <div>{{product.price}}元每{{product.unit}}</div>
          <div>
            <a class="btn btn-default btn-xs" href="" ng-click="add(product, 1)">+</a>
            <span>{{product.count || 0}}</span>
            <a href="" class="btn btn-default btn-xs" ng-click="add(product, -1)">-</a>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </div>


  </main>
  <div class="row">
    <div class="pull-left">共{{total_count}}份</div>
<div class="pull-right">
      <a ng-click="selectOk()" href="#/carts/" class="btn btn-default">选好了</a>
    </div>
    <div class="text-center">总价：{{total_price}}元</div>

  </div class="row">
</div>
