<div class="menu-topbar" ng-if="current_orders.length>0">
  <a href="#/menu/buy/current/{{table_openid}}">
    当前您有{{current_orders.length}}个订单，点击查看
  </a>
</div>

<div class="menu">

  <div class="category">
    <ul class="">
      <li ng-repeat="category in menu.categories"
          ng-class="{true: 'active'}[ui.cur_tab === {{$index}}]">
        <a href="javacript:;" ng-click="ui.cur_tab = {{$index}}" class="">
          {{category.name}}
        </a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="content" ng-repeat="category in menu.categories"
      ng-show="ui.cur_tab === {{$index}}">
      <ul class="product-list">
        <li ng-repeat="product in category.products">

            <product-item item="product"></product-item>
            <div class="">
              <a href="javascript:;" class="circle-btn"
                ng-click="change(product, -1)">-</a>
              <span>{{product.count || 0}}</span>
              <a href="javascript:;" class="circle-btn"
                ng-click="change(product, 1)">+</a>
            </div>

        </li>
      </ul>
    </div>
  </div>

  <div class="bar">
    <i class="cart icon icon-shopping-cart icon-2x"
      ng-class="{
        'full': (products_collection.length>0),
        'empty': (products_collection.length<=0)
      }"></i>
    <span class="count" ng-class="{
        'full': (products_collection.length>0),
        'empty': (products_collection.length<=0)
      }">
      {{total_count}}
    </span>
    <span class="price" ng-class="{
        'full': (products_collection.length>0),
        'empty': (products_collection.length<=0)
      }">
      {{total_price | CHY}}
    </span>
    <a ng-click="submit()" href="javascript:;"
      ng-class="{
        'enable': (products_collection.length>0),
        'disable': (products_collection.length<=0)
      }"
      class="submit-btn">
      选好了
    </a>
  </div>

</div>
