<div class="footer">
  <ul>
    <li>
      <a href="javascript:;" ng-click="scan();">扫码点菜</a>
    </li>
    <li>
      <a href="#/menu/order/history">订单历史</a>
    </li>
  </ul>
</div>

<div class="main">
  <h3>
    当前您有 <span class="text-mark">{{orders.length}}</span> 个订单
  </h3>
  <ul class="list">
    <li ng-repeat="order in orders" class="block">
      <div class="">餐厅：{{order.restaurant_name}}</div>
      <div class="">状态：{{order.status | order_status}}</div>
      <div class="">下单时间：{{order.create_time | datetime}}</div>
      <a ng-href="#/menu/order/detail/{{order.id}}" class="detail"></a>
    </li>
  </ul>
</div>

