<div class="main">

  <div class="block">
    <div class="status-info"
      ng-class="{
      '0': 'text-mark',
      '1': 'text-success',
      '2': 'text-success',
      '3': 'text-mark'
      }[order.status+'']">{{order.status | order_status}}</div>
  </div>

  <div class="block">
    <div class="">桌号：{{order.table_name}}</div>
    <div class="">下单时间：{{order.create_time | datetime}}</div>
  </div>

  <div class="block">
    <item-list items="order.order_items"></item-list>
    <div class="total-price">合计金额：{{total_price|CHY}}</div>
  </div>

</div>

