//@import "menu/menu.scss";

body {
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: 15px;
  margin-left: 15px;
}

.btn-group {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 15px;
  left: 0;
  right: 0;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  color: white;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

hr {
  clear: both;
}

a {
  text-decoration: none;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
