<div class="main">
  <h3>
    请选择人数
    <a href="#/queue/join/current/{{restaurant.openid}}" class="queue-notify">
      已取得 {{current_queue.length}} 个号码
    </a>
  </h3>

  <ul class="table-type-wrap">
    <li class="table-type-item" ng-repeat="ttype in table_types">
      <input type="radio" ng-model="target.table_type_selected" name="table_type" ng-value="ttype" id="table_type_{{ttype.id}}">
      <label
        for="table_type_{{ttype.id}}"
        ng-class="{true: 'active', false: 'inactive'}[target.table_type_selected==ttype]">
        {{ttype.min_seats}} - {{ttype.max_seats}} 人 ( {{ttype.name}} )
      </label>
    </li>
  </ul>

  <button ng-click="join()" class="btn btn-primary btn-block">排队取号</button>

</div>
