<div id="queue_join">
  <header goback="/#/queue" title="{{restaurant.name}}"></header>
  <hr>
  <div class="row pull-left">
    please select table
  </div>
  <hr>
  <ul ng-repeat="table_type in table_types">
    <li>
      <div class="row text-center" ng-click="models.table_type_selected={{table_type.id}}">
        <button class="btn btn-default">
    {{table_type.name}} table
     {{table_type.min_seats}}
      to {{table_type.max_seats}} people
        </button>
      </div>
      <hr>
    </li>
  </ul>
  <footer class="row text-center">
    <!-- <a href="#/queue/join/do"
    ng-click="join()" class="btn btn-default">join</a> -->
    <a href="javascript:;" ng-click="join()" class="btn btn-default">join</a>
  </footer>
</div>
