@import "../common/styles/variables";

ul.list li {
  position: relative;
  background-image: url('/assets/images/list_right.png');
  background-repeat: no-repeat;
  background-position: 90% center;
  a.detail {
    position: absolute;
    top: 10px;
    padding: 3em 50% ;
  }
}
